.card{
  text-align: center;
  border: 1px solid hsl(0, 0%, 80%) ;
  border-style: solid;
  border-color: rgb(226, 225, 225);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%,0.2);
  display: inline-block;

}
.card .image{
  max-width: 60px;
  height: auto;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card .title{
  font-style: arial;
  font-size: 20px;

}
.card .description{
  font-style: arial;
  color: rgb(113, 112, 112);
}
